<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<form th:action="@{/user/register}" method="post" th:object="${userForm}">
    <p>ユーザ名</p>
    <input type="text" th:field="*{userName}" />
    <input type="submit" value="登録">
</form>

<div th:if="!${#lists.isEmpty(userList)}">
<table>
    <thead>
    <tr>
        <th>選択</th>
        <th>ID</th>
        <th>ユーザ名</th>
        <th>削除</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user:${userList}">
        <td>
            <input form="deleteListForm" type="checkbox" th:value="${user.userId}" th:field="${deleteForm.deleteList}">
        </td>
        <td th:text="${user.userId}"></td>
        <td th:text="${user.name}"></td>
        <td>
            <form th:action="@{/user/delete}" method="post">
                <input type="hidden" name="userId" th:value="${user.userId}">
                <input type="submit" value="削除">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form id="deleteListForm" th:action="@{/user/deleteAll}" method="post">
    <input type="submit" value="選択したものを一括削除">
</form>
</div>
</body>
</html>